/* ------------ Develop By Anuj Harshe ------------ */


.buttons{ position: relative; width:100%; height:10%; margin-top:10%;}
#login{ position:absolute; width:50%; left:25%; display:table;}


/* #newpass{ position:relative; width:100%; height:20%; color:#fff; margin-top:5%;}
	#newuser{position: absolute; width:100%; height:50%; }
	#forgotpass{ position:absolute; width:100%; bottom:0%; height:50%;  }
	.iimg{ position:absolute; width:10%; left:5%; height:80%; top:10%; }
	.itext{ position:absolute; width:80%; right:0%; height:100%; display:table;}
		.itext span{ text-align:left;} */