

.catcontainer{ position: relative; width:98%; left:1%; height:10%; margin-top:1%; background-color: #fff; border:1px solid red; border-radius:10px;}
	.category{ position: absolute; width:100%; height:100%; }
		.pimg{ position:absolute; width:15%; height:100%; }
		.pdetails{ position:absolute; width:85%; right:0%; height:100%; }
			.pname{ position: relative; width:100%; height:50%; display:table; 
					white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
			.pdesc{ position: relative; width:100%; height:50%;  
					white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
			 